<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>

    <body>

        <header>
            <!-- De navigatie menu -->
            <%- include("./partials/nav.ejs");%>
        </header>

        <!-- Hier staat de pagina titel -->
        <%-include("./partials/page-title.ejs")%>
            <!-- De tags menu en de searchbar -->

            <a href="/quotes">Go back</a>
            <main>
               
                    <article>
                        <section> 
                             <h2> <%= quoteData.author%></h2>
                             <q> <%= quoteData.quote %> </q>
                        </section>
                        <section>
                                <img src="<%=quoteData.avatar%>" alt="Een foto van de auteur">
                                <p><%=quoteData.bio%></p>
                        </section>
                    
                    </article>       
            </main>
    </body>

</html>