<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>


    <body>

        <header>
            <!-- De navigatie menu -->
            <%- include("./partials/nav.ejs");%>
        </header>

      <%-include("./partials/page-title.ejs")%>
        <!-- De tags menu en de searchbar -->
        <%- include("./partials/filter.ejs") %>

            <main>
                <section id="content">
                    <% quoteData.forEach((item)=> { %>
                        <article>
                        <section>
                            <q><%-item.quote%></q>

                            <p class="author"><%-item.author%></p>
                        </section>
                        <section>
                            <img loading="lazy" width="100" src="<%-item.avatar%>" alt="Avatar">
                            <p><%-item.bio%></p>
                        </section>
                        <ul>
                            <li><a href="/quotes/<%-item.id%>">Quote</a></li>
                            <li><%-item.tags%></li>
                        </ul>
                    </article> 
                    <%})%>
                   
                </section>
            </main>
            <%-include("./partials/footer.ejs") %>

    </body>

</html>