<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>

    <body id="detailpagina">

        <header>
            <!-- De navigatie menu -->
            <%- include("./partials/nav.ejs");%>
        </header>

        <!-- Hier staat de pagina titel -->
        <%-include("./partials/page-title.ejs")%>
            <!-- De tags menu en de searchbar -->

            <a href="/quotes">Go back</a>
            <main>

                <article>
                    <section>
                        
                        <img width="100" src="<%=quoteData.avatar%>" alt="Een foto van de auteur">

                        <div class="wrapper">
                            <h2>
                                <%= quoteData.author%>
                            </h2>
                            <p>
                                <%=quoteData.bio%>
                            </p>
                        </div>


                    </section>
                    <section>
                        <q>
                            <%= quoteData.quote %>
                        </q>

                    </section>

                </article>
            </main>
            <%-include("./partials/footer.ejs") %>
    </body>

</html>